body {
  background: black;
  color: #dddddd;
  font-family: "courier new";
  text-align: center;
}

h1 {
  font-size: 14pt;
  font-weight: normal;
}

#game-grid {
  width: 540px;
  height: 540px;
  border: 25px solid #333;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  float: left;
  width: 25px;
  height: 25px;
  background-color: grey;
  /* border: 1px solid grey; */
  border: 1px solid black;
  display: table-cell;
}

.snake {
  background-color: rgb(255, 255, 153);
}

.food {
  background-color: rgb(102, 178, 255);
}